
  <% tab_date = ["13/01/2019", "25/11/2007", "12/09/2018", "23/05/2006"] %>

Bienvenue sur la page du potin!

    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @gossip.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= tab_date.sample %></h6>
        <p class="card-text"><%= @gossip.content %></p>
        <p class="card-link"><%= link_to "Ville", city_path(@gossip.user.id) %> </p>
        <p class="card-link"><%= link_to @user.find(@gossip.user_id).first_name ,author_path(@gossip.user_id)%> </p>
        <p class="card-link"><%= link_to "Editer le potin", edit_gossip_path %>

        <%= form_tag url_for(action: 'destroy'), method: "DELETE" do %>
		<%= submit_tag 'Supprimer' %>
		<% end %> 
		
      </div>
    </div>


